node_modules/
uploads/
.env
*.log
*.pyc
*.pyo
*.pyd
.DS_Store
dist/
build/
coverage/
.idea/
.vscode/
*.bak
*.tmp   
.hf_cache/
.hf_datasets_cache/
.hf_modules_cache/
.hf_metrics_cache/
.hf_transformers_cache/
.hf_diffusers_cache/
.hf_hub_cache/
.hf_tokenizers_cache/
.hf_vision_cache/
.hf_xformers_cache/
.hf_torch_cache/
.hf_torch_ext_cache/  
841403b5-bb4b-4e2a-a73f-570c1b1af8fb  
c110a5f8-6e79-43bd-bd7a-979677354958    

